* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$gradient: linear-gradient(35deg, #b24592, #f15f79);

nav {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
  transition: 250ms ease-in-out;
  background-color: rgba(0, 0, 0, .6);
  
  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    li {
      list-style-type: none;
      margin: 3em;
     
      a {
        text-decoration: none;
        color: #fff;
        position: relative;
        padding: 1em 2em;
        font-size: 1.5em;
        background-image: $gradient;
        border-radius: .1em;
        box-shadow: 0 .5em 1em .1em #000;
        border-radius: .25em;
      }
    }
  }
}