@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mouse Memoirs", sans-serif;
}

.google {
  background-image: linear-gradient(
    45deg,
    #4285f4 33%,
    #ea4335 33% 66%,
    #fbbc05 66%
  );
}

.facebook {
  background-image: linear-gradient(
    45deg,
    #adb9d3 33%,
    #3b5998 33% 66%,
    #edf0f5 66%
  );
}

.github {
  background-image: linear-gradient(
    45deg,
    #0d1117 33%,
    #21262d 33% 66%,
    #161b22 66%
  );
}

.discord {
  background-image: linear-gradient(
    45deg,
    #424549 33%,
    #7289da 33% 66%,
    #1e2124 66%
  );
}

.apple {
  background-image: linear-gradient(
    45deg,
    #ffffff 33%,
    #a3aaae 33% 66%,
    #000000 66%
  );
}
