* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  display: flex;
  background-image: linear-gradient(35deg, #b24592, #f15f79);
  position: fixed;
  top: 0;
  width: 100%;
  overflow-x: clip;
  z-index: 999; }
  header p {
    padding: 0.75em .2em;
    padding-left: .5em;
    color: #fff;
    font-size: 2em;
    font-weight: 700; }
  header .nav-toggle-body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 5%;
    width: 15%;
    height: 50%;
    transform: translateY(-50%); }
    header .nav-toggle-body:hover {
      cursor: pointer; }
    header .nav-toggle-body .line {
      position: absolute;
      width: 75%;
      height: 5%;
      background-color: #fff;
      border-radius: 1em; }
      header .nav-toggle-body .line:nth-child(1) {
        transform: translateY(-400%); }
      header .nav-toggle-body .line:nth-child(3) {
        transform: translateY(400%); }
    header .nav-toggle-body .x-1 {
      position: absolute;
      width: 75%;
      height: 5%;
      background-color: #fff;
      border-radius: 1em;
      transform: rotateZ(45deg); }
    header .nav-toggle-body .x-2 {
      position: absolute;
      width: 75%;
      height: 5%;
      background-color: #fff;
      border-radius: 1em;
      transform: rotateZ(-45deg); }

@media (min-width: 900px) and (max-width: 2000px) {
  header .nav-toggle-body {
    right: 0; }
    header .nav-toggle-body .line {
      width: 25%; }
    header .nav-toggle-body .x-1 {
      width: 25%; }
    header .nav-toggle-body .x-2 {
      width: 25%; } }
